name: CI - Lint and Test

on:
  push:
    branches:
      - master
    paths:
      - "**"
      - "!**.md"
      - "AGENTS.md"
  pull_request:
    paths:
      - "**"
      - "!**.md"
      - "AGENTS.md"

jobs:
  test-python:
    name: Test python
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.9, 3.11, 3.13]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install depenedencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -e .[dev]

      - name: Run ruff linting
        run: |
          python -m ruff check hightouch/htevents/
          python -m ruff --diff format hightouch/htevents/

      - name: Run unittests
        run: python -m unittest hightouch.htevents.test.all
